<div class="container text-center">
	<h1>Inventory</h1>
	
	<div ng-if="inventory.length==0">
		<h3>No Inventory Here Yet</h3>
	</div>

	<div  ng-repeat="(key, value) in inventory">
		<h3>{{key}}{{ subInvent=value;""}}</h3>
		<table border="1" class="table">
			<thead>
				<tr>
					<td>Model Name</td>
					<td>Color</td>
					<td>Registration Number</td>
					<td>NOTE</td>
					<td>Manufature Date</td>
					<td>Image Name</td>
					
				</tr>
			</thead>
			<tbody>	
				<tr ng-repeat="(k, val) in subInvent" >
					<td>{{val.st_model_name}}</td>
					<td>{{val.st_color}}</td>
					<td>{{val.st_reg_no}}</td>
					<td>{{val.st_note}}</td>
					<td>{{val.dt_manu_year}}</td>
					<td> {{img1=val.st_image.split(',')[0];
						img2=val.st_image.split(',')[1];""}} 
						<img ng-if="img1" height="50" width="50" src="/files/{{img1}}"/>
						<img ng-if="img2" height="50" width="50" src="/files/{{img2}}"/>
					</td>
				</tr>



			</tbody>
		</table>

	</div>


</div>